<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.socialgaming"
	versionCode = "10" 
    version     = "1.0.0" >
	
	 <!-- <preference name="phonegap-version" value="2.9.0"/> -->

    <!-- versionCode is optional and Android only -->
<preference name="Orientation" value="portrait" />
    <name>Social Gaming</name>

    <description>
      App con las ultimas noticias en la industria de videojuegos, de la web www.socialgaming.com.ar 
    </description>

    <author href="https://socialgaming.com.ar" email="contact@socialgaming.com">
      Push for Unicorns Studio
    </author>
	   <icon src="icon.png" />

</widget>